@model List<DataModels.Models.AirCraftEquipment>
    <div class="row">
        <div class="col-sm-12 m-2">
            <table class="table table-bordered table-striped dataTable dtr-inline collapsed static-dataTable" id="tbllistaircraftequipment">
                <thead>
                    <tr>
                        <th class="text-center">Item</th>
                        <th class="text-center">Make</th>
                        <th class="text-center">Model</th>
                        <th class="text-center">Part Number</th>
                        <th class="text-center">Serial Number</th>
                        <th class="text-center" >Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@(item.Item)</td>
                            <td class="text-center">@(item.Make)</td>
                            <td class="text-center">@(item.Model)</td>
                            <td class="text-right">@(item.PartNumber)</td>
                            <td class="text-right">@(item.SerialNumber)</td>
                            <td class="text-center">
                                <button type="button" data-edird="@(item.Id)" data-craftid="@(item.AirCraftId)" class="btn btn-primary btn-sm btnEditAirCraftEquipment">Edit</button>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>