@model List<DataModels.Models.AirCraftEquipment>
<table class="table table-sm">
    <thead>
        <tr>
            <th><label>Item</label></th>
            <th><label>Make</label></th>
            <th><label>Model</label></th>
            <th><label>Part Number</label></th>
            <th><label>Serial Number</label></th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(item.Item)</td>
                <td>@(item.Make)</td>
                <td>@(item.Model)</td>
                <td>@(item.PartNumber)</td>
                <td>@(item.SerialNumber)</td> 
                <td>
                    <button type="button" id="btnEditAirCraftEquipment" data-edird="@(item.Id)" class="btn btn-primary btn-sm float-right">Edit</button>
                </td>
            </tr>

        }
    </tbody>
</table>